[package]
name = "iana-time-zone"
description = "get the IANA time zone for the current system"
version = "0.1.23"
authors = ["Andrew Straw <strawman@astraw.com>"]
edition = "2018"
repository = "https://github.com/strawlab/iana-time-zone"
license = "MIT OR Apache-2.0"
keywords = ["IANA", "time"]
categories = ["date-and-time", "internationalization", "os"]
readme = "README.md"

[dev-dependencies]
chrono-tz = "0.6"
anyhow = "1.0"

[target.'cfg(target_os = "macos")'.dependencies]
core-foundation = "0.9"

[target.'cfg(target_os = "windows")'.dependencies]
windows = {version="0.26", features = ["Globalization"]}

[target.'cfg(target_os = "windows")'.build-dependencies]
windows = "0.26"
