name: build

on:
  push:
    branches: [ '**' ]
  pull_request:
    branches: [ '**' ]
  schedule:
    # At 23:25 on Thursday.
    - cron: "25 23 * * 4"

jobs:
  test:
    strategy:
      matrix:
        runs-on: [ubuntu-20.04, windows-2022, macos-12]
        toolchain: ["1.38", stable, nightly]
    runs-on: ${{ matrix.runs-on }}
    name: "Test (${{ matrix.runs-on }}/${{ matrix.toolchain }})"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Rust
        id: actions-rs
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
      - name: Cache
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-test-${{ steps.actions-rs.outputs.rustc_hash }}-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ steps.actions-rs.outputs.rustc_hash }}-
            ${{ runner.os }}-test-
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
      - run: cargo test --all-targets
      - run: cargo run --example stress-test

  test-wasm:
    runs-on: ubuntu-latest
    name: "Test WebAssembly"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Rust
        id: actions-rs
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: wasm32-unknown-unknown
      - name: Install Node
        uses: actions/setup-node@v3
        with:
          node-version: 14
      - name: Cache
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-wasm-${{ steps.actions-rs.outputs.rustc_hash }}-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-wasm-${{ steps.actions-rs.outputs.rustc_hash }}-
            ${{ runner.os }}-wasm-
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.cargo/bin/
            target/
      - run: which wasm-pack || cargo install wasm-pack
      - run: wasm-pack test --node

  build-cross:
    strategy:
      matrix:
        target:
          - x86_64-unknown-freebsd
          - x86_64-unknown-illumos
          - x86_64-unknown-netbsd
          - x86_64-linux-android
          - i686-linux-android
          - arm-linux-androideabi
          - aarch64-linux-android
    runs-on: ubuntu-latest
    name: "Build for ${{ matrix.target }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Rust
        id: actions-rs
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: ${{ matrix.target }}
      - name: Cache
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-${{ matrix.target }}-${{ steps.actions-rs.outputs.rustc_hash }}-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.target }}-${{ steps.actions-rs.outputs.rustc_hash }}-
            ${{ runner.os }}-${{ matrix.target }}-
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.cargo/bin/
            target/
      - run: which cross || cargo install cross
      - run: cross build --target ${{ matrix.target }} --examples

  build-ios-cross:
    strategy:
      matrix:
        target: [aarch64-apple-ios-sim, aarch64-apple-ios, x86_64-apple-ios]
    runs-on: macos-12
    name: "Build for ${{ matrix.target }}"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Rust
        id: actions-rs
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
          target: ${{ matrix.target }}
      - name: Cache
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-${{ matrix.target }}-${{ steps.actions-rs.outputs.rustc_hash }}-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.target }}-${{ steps.actions-rs.outputs.rustc_hash }}-
            ${{ runner.os }}-${{ matrix.target }}-
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.cargo/bin/
            target/
      - run: which cross || cargo install cross
      - run: cross build --target ${{ matrix.target }} --examples

  check:
    strategy:
      matrix:
        toolchain: ["1.38", stable, nightly]
    name: "Check (${{ matrix.toolchain }})"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Rust
        id: actions-rs
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.toolchain }}
          override: true
          components: clippy
      - name: Cache
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-check-${{ steps.actions-rs.outputs.rustc_hash }}-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-check-${{ steps.actions-rs.outputs.rustc_hash }}-
            ${{ runner.os }}-check-
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
      - run: cargo check --all-targets
      - run: cargo clippy --all-targets -- -D warnings

  doc:
    name: "Documentation"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Install Rust
        id: actions-rs
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: nightly
          override: true
      - name: Cache
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-doc-${{ steps.actions-rs.outputs.rustc_hash }}-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-doc-${{ steps.actions-rs.outputs.rustc_hash }}-
            ${{ runner.os }}-doc-
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
      - run: RUSTDOCFLAGS="-D warnings" cargo doc --all-features

  audit:
    name: "Cargo audit"
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Cache
        uses: actions/cache@v3
        with:
          key: ${{ runner.os }}-audit-${{ hashFiles('Cargo.toml') }}
          restore-keys: |
            ${{ runner.os }}-audit-
          path: |
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
      - name: Audit
        uses: actions-rs/audit-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
